.longUrl {
  width: 100%;
  height: 50px;
  border: none;
}

.notVisible {
  visibility: hidden;
}
.box {
  width: 100%;
  color: #000;
  text-decoration: none;
}

.short-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  width: 55%;
  height: 50px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid #6a9ae8;
  transition: all 0.2s;
  box-shadow: 12px 12px 2px 1px #6a9ae8;

  @media (max-width: 426px) {
    width: 40%;
  }

  @media (max-width: 426px) {
    p {
      margin-right: 65px;
    }
  }
}

.short-card:hover {
  box-shadow: -12px 12px 2px -1px #6a9ae8;
}

//Copy button
.copied {
  color: #6a9ae8;
}

.main {
  width: 600px;
  display: flex;
  height: 450px;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

//title
.blue {
  color: #6a9ae8;
  letter-spacing: 0.25em;
}

.pink {
  color: #fbc3d4;
  letter-spacing: 0.25em;
}

.yellow {
  color: #fddc38;
  letter-spacing: 0.25em;
}

.red {
  color: #fa4d1d;
  letter-spacing: 0.25em;
}

h1 {
  font-size: 40px;

  @media (max-width: 769px) {
    font-size: 23px;
  }
}

p {
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  font-weight: 200;
  margin-right: 30px;

  @media (max-width: 1024px) {
    width: 45%;
    font-size: 15px;
  }
  @media (max-width: 769px) {
    width: 45%;
    font-size: 15px;
  }
}

.urls {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  @media (max-width: 769px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
}

//Input
.input {
  width: 28rem;
  max-width: 80%;
  height: 60px;
  line-height: 28px;
  padding: 1px;
  padding-left: 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
  margin-right: 10px;

  @media (max-width: 769px) {
    width: 15rem;
  }
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: #1b68e4a7;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(76, 110, 234, 0.1);
}

.icon {
  position: absolute;
  left: 10px;
  fill: #9e9ea7;
  width: 10px;
  height: 10px;
}

//Create
button {
  border: 2px solid #1b69e4;
  background-color: #1b69e4;
  border-radius: 8px;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

button:hover {
  background-color: #4582e487;
  color: #000;
}

button span:hover {
  color: #000;
}

//paths
.container-home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  height: 60vh;
  position: relative;

  @media (min-width: 770px) and (max-width: 1024px) {
    justify-content: center;
    width: 100%;
    margin-left: -5px;
  }
  @media (min-width: 581px) and (max-width: 769px) {
    justify-content: center;
    width: 90%;
    margin-left: -5px;
  }

  @media (min-width: 425px) and (max-width: 580px) {
    justify-content: center;
    margin-left: 136px;
  }

  @media (min-width: 375px) and (max-width: 424px) {
    justify-content: center;
    margin-left: 140px;
  }
  @media (min-width: 321px) and (max-width: 374px) {
    justify-content: center;
    margin-left: 150px;
  }

  @media (max-width: 320px) {
    justify-content: center;
    margin-left: 170px;
  }
}
.left {
  z-index: 5;
  position: relative;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 4;
  position: relative;

  @media (max-width: 769px) {
    height: 110vh;
  }
}
img {
  height: 500px;
  position: absolute;
}

.img1 {
  z-index: 1;
  height: 460px;

  @media (max-width: 769px) {
    height: 300px;
    right: 156px;
    top: 134px;
  }
}
.img2 {
  z-index: 3;
  @media (max-width: 769px) {
    height: 325px;
    right: 138px;
    top: 121px;
  }
}

.back-path {
  width: 200px;
  height: 250px;

  @media (max-width: 769px) {
    width: 100px;
    height: 125px;
  }
}

.circle {
  fill-opacity: 1;
  stroke-opacity: 1;
  fill: #fa4d1d;
  position: relative;
  z-index: 0;
  left: -194px;
  top: -125px;

  @media (min-width: 427px) and (max-width: 769px) {
    left: -296px;
    top: -294px;

    circle {
      cx: 17.5mm;
      cy: 14mm;
      r: 12mm;
    }
  }
  @media (max-width: 426px) {
    left: -296px;
    top: -161px;
    circle {
      cx: 17.5mm;
      cy: 14mm;
      r: 12mm;
    }
  }
}

.semicircle {
  stroke-width: 40;
  fill-opacity: 0;
  stroke: #fbc3d4;
  stroke-opacity: 1;
  position: relative;
  z-index: 0;
  left: -71px;
  top: -97px;
  transform: rotate(-35deg);

  @media (max-width: 769px) {
    stroke-width: 25;
    left: -197px;
    top: -379px;

    circle {
      cx: 0mm;
      cy: 20mm;
      r: 15mm;
    }
  }
  @media (max-width: 426px) {
    stroke-width: 25;
    left: -197px;
    top: -258px;

    circle {
      cx: 0mm;
      cy: 20mm;
      r: 15mm;
    }
  }
}

.composition {
  position: relative;
  top: -710px;
  right: -83px;

  @media (min-width: 426px) and (max-width: 769px) {
    top: -889px;
    right: 182px;
  }

  @media (max-width: 426px) {
    top: -767px;
    right: 182px;
  }
}

.star {
  stroke-width: 0;
  position: relative;
  fill-opacity: 1;
  stroke: #5e97ff;
  stroke-opacity: 1;
  fill: #fddc38;
  z-index: 0;
}

.star2 {
  stroke-width: 0;
  position: relative;
  fill-opacity: 1;
  stroke: #5e97ff;
  stroke-opacity: 1;
  fill: #fddc38;
  z-index: 0;
  top: -225px;
  right: 10px;
  transform: rotate(-35deg);
}

.line {
  stroke-width: 0;
  position: relative;
  fill-opacity: 1;
  stroke-opacity: 1;
  fill: #1b68e4a7;
  z-index: 0;
  top: -799px;
  right: -88px;
  transform: rotate(283deg);

  @media (max-width: 788px) {
    top: -1137px;
    right: 166px;

    rect {
      width: 35mm;
      height: 12.5mm;
    }
  }
  @media (max-width: 426px) {
    top: -1013px;
    right: 166px;
    rect {
      width: 35mm;
      height: 12.5mm;
    }
  }
}

//logo
.logo {
  height: 80px;
  width: 80px;
}
