.longUrl {
  width: 100%;
  height: 50px;
  border: none;
}

.notVisible {
  visibility: hidden;
}

.box {
  width: 100%;
  color: #000;
  text-decoration: none;
}

//logo
.logo {
  height: 80px;
  width: 80px;
}

.urlHome {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;

  img {
    height: 40rem;
    z-index: -99;

    @media (max-width: 425px) {
      height: 22rem;
    }
  }

  @media (max-width: 769px) {
    flex-wrap: wrap;
  }

  @media (max-width: 1024px) {
    justify-content: space-between;
  }
}
